body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
}

div{
 background-color: white  ;
 width: 340px;
 margin-left: 35%;
 margin-top: 15%;
 border-radius: 10px;
}

button{
  margin-top: 10px;
  margin-left: 65%;
  margin-bottom: 10px;
  font-size: 20px;
}

input{
  margin-left: 10px;
}

h1{
  margin-left: 10px;
}