body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EEB22B;
}

div{
  border-radius: 10px;
  background-color: white;
  width: 300px;
  margin-left: 35%;
  margin-top: 5%;
}

button{

  font-family:Arial, Helvetica, sans-serif ;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 65%;
  margin-bottom: 10px;
}

input{
  border-radius: 10px;
  margin-left: 10px;
}

h1{
  margin-left: 10px;
}

header {
  margin-left: 32%;
}