header{
  text-align: center;
}

body{
  font-family: Arial, Helvetica, sans-serif ;
  background-color: gray
}

div{
  margin-left: 37%;
  background-color: white;
  width: 340px;
  margin-top: 5%;
  text-align: center

}

button{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

image .imagen1{
  margin-top: 80%

}